<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-title>
      Weather
    </ion-title>
    <ion-buttons end>
      <button icon-left item-right ion-button (click)="goToFavorites()">
        <ion-icon name="heart"></ion-icon> Favorites
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToSettings()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar [(ngModel)]="city" (ngSubmit)="search()" (ionInput)="search()">
  </ion-searchbar>
  <br />
  <br />
  <div class="weather_container_degrees" *ngIf="weather_city">
    <h5>{{weather_city_low}}°</h5>
    <h1>{{weather_city}}°</h1>
    <h5>{{weather_city_high}}°</h5>
  </div>
  <div class="weather_container_city" *ngIf="weather_city">
    <span>{{condition}}</span>
    <img [src]="image_current_condition" [alt]="condition">
    <h3>{{locale}}</h3>
    <button ion-button style="margin: 0 auto; display: block" (click)="favorite()" *ngIf="!city_is_favorite" icon-left><ion-icon name="add-circle"></ion-icon> Add to Favorites</button>
    <button ion-button style="margin: 1em auto 0 auto; display: block" (click)="favorite()" *ngIf="city_is_favorite" color="danger"
      clear icon-left><ion-icon name="remove-circle"></ion-icon> Remove from Favorites</button>
  </div>
</ion-content>